Playbooks/Block-AADUserOrAdmin-Alert.json
{
    "properties": {
        "provisioningState": "Succeeded",
        "createdTime": "2022-05-05T13:32:51.6436303Z",
        "changedTime": "2022-05-11T07:14:19.8770196Z",
        "state": "Enabled",
        "version": "08585493536256248440",
        "accessEndpoint": "https://prod-128.westeurope.logic.azure.com:443/workflows/1671c908cb894244a368ca8fa77fc953",
        "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                },
                "Admin disabled notification email": {
                    "defaultValue": "Admin disabled notification email",
                    "type": "String"
                }
            },
            "triggers": {
                "Microsoft_Sentinel_alert": {
                    "type": "ApiConnectionWebhook",
                    "inputs": {
                        "body": {
                            "callback_url": "@{listCallbackUrl()}"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                            }
                        },
                        "path": "/subscribe"
                    }
                }
            },
            "actions": {
                "Alert_-_Get_incident": {
                    "runAfter": {},
                    "type": "ApiConnection",
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                            }
                        },
                        "method": "get",
                        "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/workspaces/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/alerts/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}"
                    }
                },
                "Entities_-_Get_Accounts": {
                    "runAfter": {
                        "Alert_-_Get_incident": [
                            "Succeeded"
                        ]
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": "@triggerBody()?['Entities']",
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/entities/account"
                    }
                },
                "For_each": {
                    "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
                    "actions": {
                        "Condition_-_if_user_is_no_active_admin": {
                            "actions": {
                                "Condition_-_if_user_have_manager": {
                                    "actions": {
                                        "Add_comment_to_incident_-_with_manager_-_no_admin": {
                                            "runAfter": {
                                                "Get_user_-_details": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                                                    "message": "<p>User @{items('For_each')?['Name']} (UPN - @{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}) was disabled in AAD via playbook Block-AADUserOrAdmin. Manager (@{body('Parse_JSON_-_get_user_manager')?['userPrincipalName']}) is notified.<br>\nNote: User is not an active admin, but may be eligible for admin role!</p>"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/Incidents/Comment"
                                            }
                                        },
                                        "Get_user_-_details": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuread']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/v1.0/users/@{encodeURIComponent(concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix']))}"
                                            }
                                        },
                                        "Send_an_email_-_to_manager_-_no_admin": {
                                            "runAfter": {
                                                "Add_comment_to_incident_-_with_manager_-_no_admin": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "Body": "<p>Security notification! This is automated email sent by Microsoft Sentinel Automation!<br>\n<br>\nYour direct report @{items('For_each')?['Name']} has been disabled in Azure AD due to the security incident. Can you please notify the user and work with him to reach&nbsp;our support.<br>\n<br>\nDirect report details:<br>\nFirst name: @{body('Get_user_-_details')?['displayName']}<br>\nSurname: @{body('Get_user_-_details')?['surname']}<br>\nJob title: @{body('Get_user_-_details')?['jobTitle']}<br>\nOffice location: @{body('Get_user_-_details')?['officeLocation']}<br>\nBusiness phone: @{body('Get_user_-_details')?['businessPhones']}<br>\nMobile phone: @{body('Get_user_-_details')?['mobilePhone']}<br>\nMail: @{body('Get_user_-_details')?['mail']}<br>\n<br>\nThank you!</p>",
                                                    "Importance": "High",
                                                    "Subject": "@{items('For_each')?['Name']} has been disabled in Azure AD due to the security risk!",
                                                    "To": "@body('Parse_JSON_-_get_user_manager')?['userPrincipalName']"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v2/Mail"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_JSON_-_get_user_manager": [
                                            "Succeeded"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Add_comment_to_incident_-_no_manager_-_no_admin": {
                                                "runAfter": {},
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": {
                                                        "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                                                        "message": "<p>User @{items('For_each')?['Name']} (UPN - @{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}) was disabled in AAD via playbook Block-AADUserOrAdmin. Manager has not been notified, since it is not found for this user!<br>\nNote: User is not an active admin, but may be eligible for admin role!</p>"
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/Incidents/Comment"
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@body('Parse_JSON_-_get_user_manager')?['userPrincipalName']",
                                                        "@null"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "HTTP": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com/",
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "body": {
                                            "accountEnabled": false
                                        },
                                        "method": "PATCH",
                                        "uri": "https://graph.microsoft.com/beta/users/@{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}"
                                    }
                                },
                                "HTTP_-_get_user_manager": {
                                    "runAfter": {
                                        "HTTP": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com/",
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "method": "GET",
                                        "uri": "https://graph.microsoft.com/v1.0/users/@{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}/manager"
                                    }
                                },
                                "Parse_JSON_-_get_user_manager": {
                                    "runAfter": {
                                        "HTTP_-_get_user_manager": [
                                            "Succeeded",
                                            "Failed"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('HTTP_-_get_user_manager')",
                                        "schema": {
                                            "properties": {
                                                "userPrincipalName": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "HTTP_-_get_admin_roles": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Compose_Incident_URL": {
                                        "runAfter": {
                                            "Get_user_-_admin_details": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Compose",
                                        "inputs": "Admin has been disabled per security incident. </br></br>\nIncident details:</br>\nIncident title: @{body('Alert_-_Get_incident')?['properties']?['title']}</br>\nSeverity:@{body('Alert_-_Get_incident')?['properties']?['severity']}</br>\nIncident link: <a href=\"@{body('Alert_-_Get_incident')?['properties']?['incidentUrl']}\">@{body('Alert_-_Get_incident')?['properties']?['incidentUrl']}</a></br>\n</br>\nIf you select Approve - admin will stay disabled in Azure AD!</br>\nIf you select Reject - admin account will be re-enabled!"
                                    },
                                    "Condition_-_is_block_status_rejected": {
                                        "actions": {
                                            "Add_comment_to_incident_-_admin_sign_in_block_is_rejected": {
                                                "runAfter": {
                                                    "HTTP_-_re-enable_admin_user": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": {
                                                        "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                                                        "message": "<p>Admin user @{items('For_each')?['Name']} (UPN - @{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}) was disabled in AAD via playbook Block-AADUserOrAdmin.<br>\nPer approval process, admin account is re-enabled.</p>"
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/Incidents/Comment"
                                                }
                                            },
                                            "HTTP_-_re-enable_admin_user": {
                                                "runAfter": {},
                                                "type": "Http",
                                                "inputs": {
                                                    "authentication": {
                                                        "audience": "https://graph.microsoft.com/",
                                                        "type": "ManagedServiceIdentity"
                                                    },
                                                    "body": {
                                                        "accountEnabled": true
                                                    },
                                                    "method": "PATCH",
                                                    "uri": "https://graph.microsoft.com/beta/users/@{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}"
                                                }
                                            }
                                        },
                                        "runAfter": {
                                            "Send_approval_email_-_should_admin_stay_blocked": [
                                                "Succeeded",
                                                "TimedOut",
                                                "Failed"
                                            ]
                                        },
                                        "else": {
                                            "actions": {
                                                "Condition_-_if_admin_user_have_manager": {
                                                    "actions": {
                                                        "Add_comment_to_incident_-_with_manager_-_admin_user": {
                                                            "runAfter": {},
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "body": {
                                                                    "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                                                                    "message": "<p>Admin user @{items('For_each')?['Name']} (UPN - @{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}) was disabled in AAD via playbook Block-AADUserOrAdmin. Manager (@{body('Parse_JSON_-_get_admin_manager')?['userPrincipalName']}) is notified.</p>"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "post",
                                                                "path": "/Incidents/Comment"
                                                            }
                                                        },
                                                        "Send_an_email_-_to_manager_-_admin_user": {
                                                            "runAfter": {
                                                                "Add_comment_to_incident_-_with_manager_-_admin_user": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "body": {
                                                                    "Body": "<p>Security notification! This is automated email sent by Microsoft Sentinel Automation!<br>\n<br>\nYour direct report @{items('For_each')?['Name']} has been disabled in Azure AD due to the security incident. Can you please notify the user and work with him to resolve security incident!<br>\n<br>\nDirect report details:<br>\nFirst name: @{body('Get_user_-_admin_details')?['givenName']}<br>\nSurname: @{body('Get_user_-_admin_details')?['surname']}<br>\nJob title: @{body('Get_user_-_admin_details')?['jobTitle']}<br>\nOffice location: @{body('Get_user_-_admin_details')?['officeLocation']}<br>\nBusiness phone: @{body('Get_user_-_admin_details')?['businessPhones']}<br>\nMobile phone: @{body('Get_user_-_admin_details')?['mobilePhone']}<br>\nMail: @{body('Get_user_-_admin_details')?['mail']}<br>\n<br>\nThank you!</p>",
                                                                    "Subject": "@{items('For_each')?['Name']} has been disabled in Azure AD due to the security risk!",
                                                                    "To": "@body('Parse_JSON_-_get_admin_manager')?['userPrincipalName']"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "post",
                                                                "path": "/v2/Mail"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Parse_JSON_-_get_admin_manager": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "else": {
                                                        "actions": {
                                                            "Add_comment_to_incident_-_no_manager_-_admin_user": {
                                                                "runAfter": {},
                                                                "type": "ApiConnection",
                                                                "inputs": {
                                                                    "body": {
                                                                        "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                                                                        "message": "<p>Admin user @{items('For_each')?['Name']} (UPN - @{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}) was disabled in AAD via playbook Block-AADUserOrAdmin. Manager has not been notified, since it is not found for this user!</p>"
                                                                    },
                                                                    "host": {
                                                                        "connection": {
                                                                            "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                                                        }
                                                                    },
                                                                    "method": "post",
                                                                    "path": "/Incidents/Comment"
                                                                }
                                                            },
                                                            "Send_an_email_-_no_manager_-_admin_user": {
                                                                "runAfter": {
                                                                    "Add_comment_to_incident_-_no_manager_-_admin_user": [
                                                                        "Succeeded"
                                                                    ]
                                                                },
                                                                "type": "ApiConnection",
                                                                "inputs": {
                                                                    "body": {
                                                                        "Body": "<p>Security notification! This is automated email sent by Microsoft Sentinel Automation!<br>\n<br>\nDisabled sing-in has been confirmed for following admin user @{items('For_each')?['Name']}.<br>\n<br>\nPlease work with user to resolve security issue! Admin user doesn't have manager!<br>\n<br>\nAdmin user details:<br>\nFirst name: @{body('Get_user_-_admin_details')?['givenName']}<br>\nSurname: @{body('Get_user_-_admin_details')?['surname']}<br>\nJob title: @{body('Get_user_-_admin_details')?['jobTitle']}<br>\nOffice location: @{body('Get_user_-_admin_details')?['officeLocation']}<br>\nBusiness phone: @{body('Get_user_-_admin_details')?['businessPhones']}<br>\nMobile phone: @{body('Get_user_-_admin_details')?['mobilePhone']}<br>\nMail: @{body('Get_user_-_admin_details')?['mail']}<br>\n<br>\nThank you!</p>",
                                                                        "Importance": "High",
                                                                        "Subject": "@{items('For_each')?['Name']} - admin user disabled sign-in has been confirmed!",
                                                                        "To": "@parameters('Admin disabled notification email')"
                                                                    },
                                                                    "host": {
                                                                        "connection": {
                                                                            "name": "@parameters('$connections')['office365']['connectionId']"
                                                                        }
                                                                    },
                                                                    "method": "post",
                                                                    "path": "/v2/Mail"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "not": {
                                                                    "equals": [
                                                                        "@body('Parse_JSON_-_get_admin_manager')?['userPrincipalName']",
                                                                        "@null"
                                                                    ]
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    "type": "If"
                                                },
                                                "HTTP_-_get_admin_manager": {
                                                    "runAfter": {},
                                                    "type": "Http",
                                                    "inputs": {
                                                        "authentication": {
                                                            "audience": "https://graph.microsoft.com/",
                                                            "type": "ManagedServiceIdentity"
                                                        },
                                                        "method": "GET",
                                                        "uri": "https://graph.microsoft.com/v1.0/users/@{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}/manager"
                                                    }
                                                },
                                                "Parse_JSON_-_get_admin_manager": {
                                                    "runAfter": {
                                                        "HTTP_-_get_admin_manager": [
                                                            "Succeeded",
                                                            "Failed"
                                                        ]
                                                    },
                                                    "type": "ParseJson",
                                                    "inputs": {
                                                        "content": "@body('HTTP_-_get_admin_manager')",
                                                        "schema": {
                                                            "properties": {
                                                                "userPrincipalName": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "expression": {
                                            "and": [
                                                {
                                                    "equals": [
                                                        "@body('Send_approval_email_-_should_admin_stay_blocked')?['SelectedOption']",
                                                        "Reject"
                                                    ]
                                                }
                                            ]
                                        },
                                        "type": "If"
                                    },
                                    "Get_user_-_admin_details": {
                                        "runAfter": {
                                            "HTTP_-_Block_admin_user": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azuread']['connectionId']"
                                                }
                                            },
                                            "method": "get",
                                            "path": "/v1.0/users/@{encodeURIComponent(concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix']))}"
                                        }
                                    },
                                    "HTTP_-_Block_admin_user": {
                                        "runAfter": {},
                                        "type": "Http",
                                        "inputs": {
                                            "authentication": {
                                                "audience": "https://graph.microsoft.com/",
                                                "type": "ManagedServiceIdentity"
                                            },
                                            "body": {
                                                "accountEnabled": false
                                            },
                                            "method": "PATCH",
                                            "uri": "https://graph.microsoft.com/beta/users/@{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}"
                                        }
                                    },
                                    "Send_approval_email_-_should_admin_stay_blocked": {
                                        "runAfter": {
                                            "Compose_Incident_URL": [
                                                "Succeeded"
                                            ]
                                        },
                                        "limit": {
                                            "timeout": "PT30M"
                                        },
                                        "type": "ApiConnectionWebhook",
                                        "inputs": {
                                            "body": {
                                                "Message": {
                                                    "Body": "@{outputs('Compose_Incident_URL')}",
                                                    "HideHTMLMessage": false,
                                                    "Importance": "High",
                                                    "Options": "Approve, Reject",
                                                    "ShowHTMLConfirmationDialog": false,
                                                    "Subject": "Admin - @{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])} - have been blocked!",
                                                    "To": "@parameters('Admin disabled notification email')",
                                                    "UseOnlyHTMLMessage": true
                                                },
                                                "NotificationUrl": "@{listCallbackUrl()}"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                                }
                                            },
                                            "path": "/approvalmail/$subscriptions"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@length(body('HTTP_-_get_admin_roles')['value'])",
                                            0
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "HTTP_-_get_admin_roles": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://graph.microsoft.com/",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://graph.microsoft.com/v1.0/users/@{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}/memberOf/microsoft.graph.directoryRole"
                            }
                        }
                    },
                    "runAfter": {
                        "Entities_-_Get_Accounts": [
                            "Succeeded"
                        ]
                    },
                    "type": "Foreach"
                }
            },
            "outputs": {}
        },
        "parameters": {
            "$connections": {
                "value": {
                    "azuread": {
                        "connectionId": "/subscriptions/447a0a46-6e3f-403b-a276-45b2e6511e33/resourceGroups/RGWE01-SENTINEL/providers/Microsoft.Web/connections/azuread-Block-AADUserOrAdmin-Alert",
                        "connectionName": "azuread-Block-AADUserOrAdmin-Alert",
                        "id": "/subscriptions/447a0a46-6e3f-403b-a276-45b2e6511e33/providers/Microsoft.Web/locations/westeurope/managedApis/azuread"
                    },
                    "microsoftsentinel": {
                        "connectionId": "/subscriptions/447a0a46-6e3f-403b-a276-45b2e6511e33/resourceGroups/RGWE01-SENTINEL/providers/Microsoft.Web/connections/microsoftsentinel-Block-AADUserOrAdmin-Alert",
                        "connectionName": "microsoftsentinel-Block-AADUserOrAdmin-Alert",
                        "id": "/subscriptions/447a0a46-6e3f-403b-a276-45b2e6511e33/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel",
                        "connectionProperties": {
                            "authentication": {
                                "type": "ManagedServiceIdentity"
                            }
                        }
                    },
                    "office365": {
                        "connectionId": "/subscriptions/447a0a46-6e3f-403b-a276-45b2e6511e33/resourceGroups/RGWE01-SENTINEL/providers/Microsoft.Web/connections/office365-Block-AADUserOrAdmin-Alert",
                        "connectionName": "office365-Block-AADUserOrAdmin-Alert",
                        "id": "/subscriptions/447a0a46-6e3f-403b-a276-45b2e6511e33/providers/Microsoft.Web/locations/westeurope/managedApis/office365"
                    }
                }
            }
        },
        "endpointsConfiguration": {
            "workflow": {
                "outgoingIpAddresses": [
                    {
                        "address": "40.68.222.65"
                    },
                    {
                        "address": "40.68.209.23"
                    },
                    {
                        "address": "13.95.147.65"
                    },
                    {
                        "address": "23.97.218.130"
                    },
                    {
                        "address": "51.144.182.201"
                    },
                    {
                        "address": "23.97.211.179"
                    },
                    {
                        "address": "104.45.9.52"
                    },
                    {
                        "address": "23.97.210.126"
                    },
                    {
                        "address": "13.69.71.160"
                    },
                    {
                        "address": "13.69.71.161"
                    },
                    {
                        "address": "13.69.71.162"
                    },
                    {
                        "address": "13.69.71.163"
                    },
                    {
                        "address": "13.69.71.164"
                    },
                    {
                        "address": "13.69.71.165"
                    },
                    {
                        "address": "13.69.71.166"
                    },
                    {
                        "address": "13.69.71.167"
                    },
                    {
                        "address": "20.103.21.81"
                    },
                    {
                        "address": "20.103.17.247"
                    },
                    {
                        "address": "20.103.17.223"
                    },
                    {
                        "address": "20.103.16.47"
                    },
                    {
                        "address": "20.103.58.116"
                    },
                    {
                        "address": "20.103.57.29"
                    },
                    {
                        "address": "20.101.174.49"
                    },
                    {
                        "address": "20.101.174.23"
                    },
                    {
                        "address": "20.93.236.26"
                    },
                    {
                        "address": "20.93.235.107"
                    },
                    {
                        "address": "20.103.94.250"
                    },
                    {
                        "address": "20.76.174.72"
                    },
                    {
                        "address": "20.82.87.192"
                    },
                    {
                        "address": "20.82.87.16"
                    },
                    {
                        "address": "20.76.170.145"
                    },
                    {
                        "address": "20.103.91.39"
                    },
                    {
                        "address": "20.103.84.41"
                    },
                    {
                        "address": "20.76.161.156"
                    }
                ],
                "accessEndpointIpAddresses": [
                    {
                        "address": "13.95.155.53"
                    },
                    {
                        "address": "52.174.54.218"
                    },
                    {
                        "address": "52.174.49.6"
                    },
                    {
                        "address": "20.103.21.113"
                    },
                    {
                        "address": "20.103.18.84"
                    },
                    {
                        "address": "20.103.57.210"
                    },
                    {
                        "address": "20.101.174.52"
                    },
                    {
                        "address": "20.93.236.81"
                    },
                    {
                        "address": "20.103.94.255"
                    },
                    {
                        "address": "20.82.87.229"
                    },
                    {
                        "address": "20.76.171.34"
                    },
                    {
                        "address": "20.103.84.61"
                    }
                ]
            },
            "connector": {
                "outgoingIpAddresses": [
                    {
                        "address": "52.174.88.118"
                    },
                    {
                        "address": "40.91.208.65"
                    },
                    {
                        "address": "13.69.64.208/28"
                    },
                    {
                        "address": "13.69.71.192/27"
                    },
                    {
                        "address": "13.93.36.78"
                    },
                    {
                        "address": "20.86.93.32/27"
                    },
                    {
                        "address": "20.86.93.64/28"
                    },
                    {
                        "address": "20.126.243.151"
                    },
                    {
                        "address": "20.126.241.238"
                    },
                    {
                        "address": "20.103.132.139"
                    },
                    {
                        "address": "20.103.131.1"
                    }
                ]
            }
        }
    },
    "id": "/subscriptions/447a0a46-6e3f-403b-a276-45b2e6511e33/resourceGroups/rgwe01-sentinel/providers/Microsoft.Logic/workflows/Block-AADUserOrAdmin-Alert",
    "name": "Block-AADUserOrAdmin-Alert",
    "type": "Microsoft.Logic/workflows",
    "location": "westeurope",
    "tags": {
        "LogicAppsCategory": "security",
        "hidden-SentinelTemplateName": "Block-AADUserOrAdmin_alert",
        "hidden-SentinelTemplateVersion": "1.0"
    },
    "identity": {
        "type": "SystemAssigned",
        "principalId": "81d09edc-c927-46f8-a424-64b322559de1",
        "tenantId": "ba0277b8-1f82-4138-ad63-3b265c33e64f"
    }
}