Playbooks/Change-Incident-Severity.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata":{
        "comments": "This playbook will change Incident Severity based on specific username that is part of the Incident user entity.",
        "author": "Yaniv Shasha" 
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Change-Incident-Severity",
            "type": "string"
        },
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Maintenance/maintenanceConfigurations",
            "apiVersion": "2021-04-01-preview",
            "name": "string",
            "location": "string",
            "tags": {
              "tagName1": "tagValue1",
              "tagName2": "tagValue2"
            },
            "properties": {
                "provisioningState": "Succeeded",
        
                "state": "Enabled",
                "version": "08585489166040246392",
                "accessEndpoint": "https://prod-241.westeurope.logic.azure.com:443/workflows/0b6787a1631645679a47e4de66862780",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Entities_-_Get_IPs": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/ip"
                            }
                        },
                        "For_each_IP": {
                            "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                            "actions": {
                                "Check-New-Location": {
                                    "actions": {
                                        "Append_to_array_newIPs": {
                                            "runAfter": {},
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "newIPs",
                                                "value": {
                                                    "@@odata.type": "#microsoft.graph.iPv4CidrRange",
                                                    "cidrAddress": "@{items('For_each_IP')?['Address']}/32"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Filter_array": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@length(body('Filter_array'))",
                                                    0
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Filter_array": {
                                    "runAfter": {},
                                    "type": "Query",
                                    "inputs": {
                                        "from": "@body('Parse_JSON')?['ipRanges']",
                                        "where": "@equals(item()?['cidrAddress'], concat(items('For_each_IP')?['Address'], '/32'))"
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get-Named-Location": {
                            "runAfter": {
                                "Get-Named-Location-Id": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://graph.microsoft.com",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://graph.microsoft.com/beta/identity/conditionalAccess/namedLocations/@{body('Get-Named-Location-Id')['value'][0]['id']}"
                            }
                        },
                        "Get-Named-Location-Id": {
                            "runAfter": {
                                "Initialize_namedLocationName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://graph.microsoft.com",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://graph.microsoft.com/v1.0/identity/conditionalAccess/namedLocations?$filter=displayName%20eq%20'@{encodeUriComponent(variables('namedLocationName'))}'"
                            }
                        },
                        "Initialize_namedLocationName": {
                            "runAfter": {
                                "Initialize_newIPs_Array": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "namedLocationName",
                                        "type": "string",
                                        "value": "NamedLocationName"
                                    }
                                ]
                            }
                        },
                        "Initialize_newIPs_Array": {
                            "runAfter": {
                                "Entities_-_Get_IPs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "newIPs",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "Get-Named-Location": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Get-Named-Location')",
                                "schema": {
                                    "properties": {
                                        "@@odata.context": {
                                            "type": "string"
                                        },
                                        "@@odata.type": {
                                            "type": "string"
                                        },
                                        "createdDateTime": {
                                            "type": "string"
                                        },
                                        "displayName": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "ipRanges": {
                                            "items": {
                                                "properties": {
                                                    "@@odata.type": {
                                                        "type": "string"
                                                    },
                                                    "cidrAddress": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "@@odata.type",
                                                    "cidrAddress"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "isTrusted": {
                                            "type": "boolean"
                                        },
                                        "modifiedDateTime": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Update-Named-Location-If-Needed": {
                            "actions": {
                                "Update-Named-Location": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com",
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "body": {
                                            "@@odata.type": "#microsoft.graph.ipNamedLocation",
                                            "ipRanges": "@union(variables('newIPs'), body('Parse_JSON')?['ipRanges'])"
                                        },
                                        "headers": {
                                            "Content-type": "application/json"
                                        },
                                        "method": "PATCH",
                                        "uri": "https://graph.microsoft.com/beta/identity/conditionalAccess/namedLocations/@{body('Get-Named-Location-Id')['value'][0]['id']}"
                                    }
                                }
                            },
                            "runAfter": {
                                "For_each_IP": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "greater": [
                                            "@length(variables('newIPs'))",
                                            0
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "/subscriptions/447a0a46-6e3f-403b-a276-45b2e6511e33/resourceGroups/RGWE01-SENTINEL/providers/Microsoft.Web/connections/azuresentinel-Add-IP-Entity-To-Named-Location",
                                "connectionName": "azuresentinel-Add-IP-Entity-To-Named-Location",
                                "id": "/subscriptions/447a0a46-6e3f-403b-a276-45b2e6511e33/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                },
                "endpointsConfiguration": {
                    "workflow": {
                        "outgoingIpAddresses": [
                            {
                                "address": "40.68.222.65"
                            },
                            {
                                "address": "40.68.209.23"
                            },
                            {
                                "address": "13.95.147.65"
                            },
                            {
                                "address": "23.97.218.130"
                            },
                            {
                                "address": "51.144.182.201"
                            },
                            {
                                "address": "23.97.211.179"
                            },
                            {
                                "address": "104.45.9.52"
                            },
                            {
                                "address": "23.97.210.126"
                            },
                            {
                                "address": "13.69.71.160"
                            },
                            {
                                "address": "13.69.71.161"
                            },
                            {
                                "address": "13.69.71.162"
                            },
                            {
                                "address": "13.69.71.163"
                            },
                            {
                                "address": "13.69.71.164"
                            },
                            {
                                "address": "13.69.71.165"
                            },
                            {
                                "address": "13.69.71.166"
                            },
                            {
                                "address": "13.69.71.167"
                            },
                            {
                                "address": "20.103.21.81"
                            },
                            {
                                "address": "20.103.17.247"
                            },
                            {
                                "address": "20.103.17.223"
                            },
                            {
                                "address": "20.103.16.47"
                            },
                            {
                                "address": "20.103.58.116"
                            },
                            {
                                "address": "20.103.57.29"
                            },
                            {
                                "address": "20.101.174.49"
                            },
                            {
                                "address": "20.101.174.23"
                            },
                            {
                                "address": "20.93.236.26"
                            },
                            {
                                "address": "20.93.235.107"
                            },
                            {
                                "address": "20.103.94.250"
                            },
                            {
                                "address": "20.76.174.72"
                            },
                            {
                                "address": "20.82.87.192"
                            },
                            {
                                "address": "20.82.87.16"
                            },
                            {
                                "address": "20.76.170.145"
                            },
                            {
                                "address": "20.103.91.39"
                            },
                            {
                                "address": "20.103.84.41"
                            },
                            {
                                "address": "20.76.161.156"
                            }
                        ],
                        "accessEndpointIpAddresses": [
                            {
                                "address": "13.95.155.53"
                            },
                            {
                                "address": "52.174.54.218"
                            },
                            {
                                "address": "52.174.49.6"
                            },
                            {
                                "address": "20.103.21.113"
                            },
                            {
                                "address": "20.103.18.84"
                            },
                            {
                                "address": "20.103.57.210"
                            },
                            {
                                "address": "20.101.174.52"
                            },
                            {
                                "address": "20.93.236.81"
                            },
                            {
                                "address": "20.103.94.255"
                            },
                            {
                                "address": "20.82.87.229"
                            },
                            {
                                "address": "20.76.171.34"
                            },
                            {
                                "address": "20.103.84.61"
                            }
                        ]
                    },
                    "connector": {
                        "outgoingIpAddresses": [
                            {
                                "address": "52.174.88.118"
                            },
                            {
                                "address": "40.91.208.65"
                            },
                            {
                                "address": "13.69.64.208/28"
                            },
                            {
                                "address": "13.69.71.192/27"
                            },
                            {
                                "address": "13.93.36.78"
                            },
                            {
                                "address": "20.86.93.32/27"
                            },
                            {
                                "address": "20.86.93.64/28"
                            },
                            {
                                "address": "20.126.243.151"
                            },
                            {
                                "address": "20.126.241.238"
                            },
                            {
                                "address": "20.103.132.139"
                            },
                            {
                                "address": "20.103.131.1"
                            }
                        ]
                    }
                }
            },
            "id": "/subscriptions/447a0a46-6e3f-403b-a276-45b2e6511e33/resourceGroups/RGWE01-SENTINEL/providers/Microsoft.Logic/workflows/Add-IP-Entity-To-Named-Location",
            "name": "Add-IP-Entity-To-Named-Location",
            "type": "Microsoft.Logic/workflows",
            "location": "westeurope",
            "tags": {
                "hidden-SentinelTemplateName": "Add-IP-Entity-To-Named-Location",
                "hidden-SentinelTemplateVersion": "1.0"
            },
            "identity": {
                "type": "SystemAssigned",
                "principalId": "120a969f-5d8e-4afa-9443-396aece6a6b5",
                "tenantId": "ba0277b8-1f82-4138-ad63-3b265c33e64f"
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "Alert_-_Get_accounts": {
                            "runAfter": {
                                "Alert_-_Get_incident": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@triggerBody()?['Entities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/account"
                            }
                        },
                        "Alert_-_Get_incident": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/Cases/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}"
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Alert_-_Get_accounts')?['Accounts']",
                            "actions": {
                                "Condition": {
                                    "actions": {
                                        "Change_incident_severity": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                    }
                                                },
                                                "method": "put",
                                                "path": "/Case/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Incident')}/@{encodeURIComponent(body('Alert_-_Get_incident')?['properties']?['CaseNumber'])}/Severity/@{encodeURIComponent('Critical')}"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "expression": {
                                        "or": [
                                            {
                                                "contains": [
                                                    "@items('For_each')?['Name']",
                                                    "admin"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Alert_-_Get_accounts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}